.menu-btn div {
    position: absolute;
    top: 64%;
    /*padding-right: 8px;*/
    line-height: 1.2;
    font-size: 18px;
    font-weight: 200;
    /*vertical-align: middle;*/
    z-index: 99;
    /*margin: -0.50em 10px 0px 0px;*/
    /*text-align: right;*/
    color: #666;
}
 
.menu-btn span {
    display: block;
    width: 19px;
    height: 3px;
    margin: 4px 10px;
    background: #666;
    z-index: 99;
}
 
.responsive-menu{
    display: none;
}
 
.expand {
    display: block !important; 
}

.mobile-nav {
    position: absolute;
    right: 0px;
}