/*generella regler*/
body {
	margin:0px;
}


h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 30px;
	line-height: 30px;
	font-variant: small-caps;
	color: #33ccff;
	text-align: center;
	padding: 0px 14px;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	font-variant: small-caps;
	color: #33ccff;
	text-align: center;
}

p {
	font-family: 'Vollkorn', serif;
	font-size: 16px;
	line-height: 20px;
	color: #666;
	padding: 14px;
	margin: 0px;
}

a {
	text-decoration: none;
}

.italic{
	font-style: italic;
}



/*headern, duh*/
#header {
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0px;
	background-color:white;
	margin: 0px;
	z-index: 1;
}

#headermain {
	margin: auto;
	max-width: 724px;
	height: 100%;
	padding: 0px;
}

#logga {
	width: 140px;
	float: left;
	margin: 5px 0px 0px 19px;
}

#border {
	background: #666666;
	width: 100%;
	height: 7px;
	position: fixed;
	margin: 0px;
	z-index: -1;
}

#headermain nav {
	margin: 37px 19px;
	float: right;
}

nav ul {
	list-style : none;
}

nav li {
	display: inline;
	margin-left:6px;
}

nav li a {
	text-decoration : none;
	color: #666666;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 17px;
}

nav li a:hover{
	border-bottom: 7px solid #33ccff;
	padding-bottom: 4px;
	z-index: 1;
}

nav .currentLink{
	border-bottom: 7px solid #33ccff;
	padding-bottom: 4px;
	z-index: 1;
}


/*sidan börjar*/

#headerimg {
	width: 100%;
	height: 200px;
	margin: 80px 0 15px 0;
	overflow: hidden;
}
	#headerimg img{ 
		width: 100%;
	}

#imgflow {
	width : 100%;
	height : 455px;
	margin-top: 85px;
}


#main {
	max-width: 724px;
	margin: 0 auto;
	/*text-align: center;*/
}
	#main h1 {
		margin-bottom: 35px;
	}


#waterweave {
	width:50%;
	float:left;
}


#tekniken {
	width:50%;
	float:left;
}

.col_image {
	width:90%;

}

#vision h1 {
	color:#33ccff;
	font-family: "open sans", sans-serif;
	font-variant: small-caps;
	font-size: 44px;
	line-height:18px;
	margin-bottom:11px;
}

#vision p {
	color:#666666;
	font-family: "Volkorn", serif;
	margin-left: 30px ;
	margin-right: 30px ;
	font-size: 24px;
	text-align: center;
	line-height:32px;
	margin-bottom:50px;
}


div.coltext h1 {
	color:#33ccff;
	font-family: 'open sans', sans-serif;
	font-size: 18px;
	line-height:18px;
	margin-top:20px;
	margin-bottom:0px;
}

div.coltext p {
	color:#666666;
	font-family: 'Vollkorn', serif;
	margin-left: auto ;
	margin-right: auto ;
	font-size: 15px;
	text-align: center;
	line-height:18px;
	margin-top:-35px;
}



.coltext {
	width:100%;
	height:120px;
}

p.readmore {
	/*color:#ffffff;*/
		color:red;
	/*margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
	margin-top:70px;*/
	text-align:center;
	margin-bottom:50px;
}


.linkwrapper {
	width:100px;
	height:30px;
	margin-left: auto ;
	margin-right: auto ;

}

	.button {
		width:100%;
		height:100%;
		background-color:#c6c6c6;
		margin-left: auto ;
		margin-right: auto ;
		border-radius : 20px;
		margin-bottom: 50px;

	}


/*footern*/
#footer {
	width: 100%;
	height: 85px;
	background: #666;
	margin: 70px 0px 0px 0px;
	text-align: center;
}

#footer p {
	text-align: center;
	font-size: 14px;
	line-height: 14px;
	color: #fff;
}

#footermain {
	max-width: 724px;
	height: 100%;
	margin: 0px auto;
	text-align: center;
	}

#footermain .footertext {
	width: 160px;
	margin: auto 10px;
	display: inline-block;
	vertical-align: middle;
}


/*#tempbottom {
	height:500px;
}*/


/*hacks*/
.clearfix {
	clear : both;
}



/*den responsiva delen*/
@media screen and (max-width: 740px) 	{
	#waterweave {
		width: 100%;
	}
	#tekniken {
		width: 100%;
	}

	.left, .right {
		display: none !important;
	}

	#footermain {
		width:181px;
	}

	#footer {
		height:50px;
	}

	.footertext{
		padding-top: 5px;
	}

}





/*Lovisas CSS*/


/* TEAMSIDAN */

.team {
	width: 290px;
	margin: 0 0 48px 48px;
	float: left;
	text-align: center;
}
	.team img {
		width: 170px;
		margin: 0 auto 35px auto;
		padding: 0px;
	}
	.team h2 {
		color: #666;
		margin: 0px;
		padding: 0px;
	}
	.team h3 {
		font-family: 'Vollkorn', serif;
		font-size: 18px;
		line-height: 18px;
		font-style: italic;
		font-weight: 400;
		color: #666;
		text-align: center;
		margin: 3px;
	}
	.team p {
		font-family: 'Vollkorn', serif;
		font-size: 15px;
		line-height: 18px;
		color: #666;
		text-align: center;
		padding: 14px;
		margin: 0px;
	}



/* VALD NYHET */

#nyhet {
	width: 628px;
	margin: 0px auto;
	padding: 0px;
}
	#nyhet h1{
		color: #666;
		margin: 5px 0px;
		text-align: center;
	}

	#nyheter p{
		margin: 0px 0px;
		padding: 0px;
		text-align: left;
	}

.news_img {
	width: 628px;
	height: 420px;
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
}
	.news_img img{
		position: absolute;
		left: 50%;
  		top: 30%;
		width: 100%;
		-webkit-transform: translate(-50%,-30%);
      	-ms-transform: translate(-50%,-30%);
        transform: translate(-50%,-30%);
	}

.datum {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-size: 14px;
	text-align: left;
	color: #666;
	margin: 30px 15px 7px 15px;
	padding: 0px;
}


/* NYHETSFLÖDET */

#container {
	width: 724px;
	margin: 0 auto;
}

.item { 
	width: 290px;
	margin: 0 0 0 48px;
	text-align: center;
}
	.item a{
		font-family: 'Open Sans', sans-serif;
		font-size: 18px;
		line-height: 14px;
		font-variant: small-caps;
		color: #33ccff;
		text-decoration: none;

	}
	.item a:hover {
		color: #666;
	}

.border {
	width: 100%;
	height: 7px;
	background: #5e6062;
	margin: 0px;
}


/* PIL-CSS:EN */

.wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  background-color:#fff;
  opacity: 1;
}

.wrap img {
  width: 100%;
  height: auto;
  display: block;
}

.wrap:before, .wrap:after {
  content:'';
  position: absolute;
  bottom: 0;
  width: 50%;
  background-color: inherit;
  padding-bottom: 3%;
}
	.pil:before, .pil:after {
		padding-bottom: 5%;
	}
	.pil:hover {
		opacity: 0.7;
	}

.wrap:before {
  right: 50%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -ms-transform: skewX(60deg);
  -webkit-transform: skewX(60deg);
  transform: skewX(60deg);
}
.wrap:after {
  left: 50%;
  -ms-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -ms-transform: skewX(-60deg);
  -webkit-transform: skewX(-60deg);
  transform: skewX(-60deg);
}



/* ADMINSIDAN */


.edit {
	width: 400px;
	height: 450px;
	float: left;
	background: #eee;
	margin: 10px;
}